HorizontalGuide {
    -mfx-span: 2;
    -mfx-font-family: Consolas;
    -mfx-font-size: 13;
    -mfx-font-weight: bold;
    -mfx-label-justify: top-right;
    -mfx-label-padding: 5px;
    -mfx-foreground-color: firebrick;
    -mfx-background-color: black;
}

VerticalGuide {
    -mfx-span: 2;
    -mfx-font-family: Consolas;
    -mfx-font-size: 13;
    -mfx-font-weight: bold;
    -mfx-label-justify: top-right;
    -mfx-label-padding: 5px;
    -mfx-foreground-color: firebrick;
    -mfx-background-color: black;
}

#big {
    -mfx-font-size: 36;
}