.minor {
    -mfx-background-color: lightgray;
    -mfx-foreground-color: black;
}

.major {
    -mfx-background-color: gray;
    -mfx-foreground-color: black;
}

.origin {
    -mfx-background-color: black;
    -mfx-foreground-color: white;
}