/* Refer to "Color Scheme" at the top of ./main.css */

.discrete-interval-form .container {
    -fx-padding: 1mm;
    -fx-hgap: 1mm;
    -fx-vgap: 1mm;
    -fx-border-width: 0.25mm;
    -fx-border-color: rgb(128, 128, 128);
    -fx-background-color: rgb(255, 255, 255);
    /* text sub-components */
    -fx-font-family: "FreeMono";
    -fx-font-weight: normal;
    -fx-font-size: 12pt;
}

.discrete-interval-form .field {
    -fx-padding: 0.5mm;
    -fx-border-width: 0.25mm;
    -fx-border-color: rgb(128, 128, 128);
    -fx-background-color: rgb(255, 255, 255);
    /* text related */
    -fx-text-fill: rgb(64, 64, 64);
    -fx-highlight-fill: rgb(128, 128, 128);
    -fx-highlight-text-fill: rgb(255, 255, 255);
}

.discrete-interval-form .field.error {
    -fx-border-color: rgb(128, 0, 0);
    -fx-background-color: rgb(255, 224, 224);
    /* text related */
    -fx-text-fill: rgb(128, 0, 0);
    -fx-highlight-fill: rgb(128, 0, 0);
    -fx-highlight-text-fill: rgb(255, 255, 255);
}

.discrete-interval-form .title-container {
    -fx-border-width: 0 0 0.25mm 0;
    -fx-border-color: rgb(128, 128, 128);
}

.discrete-interval-form .title {
    -fx-padding: 0 0 1mm 0;
    -fx-font-weight: bold;
    -fx-font-size: 14pt;
}