/* --- This CSS Color Scheme ---
 *
 * General:
 * - foreground: rgb(64, 64, 64)
 * - background: rgb(255, 255, 255)
 * - primary accent: ?
 * - secondary accent: ?
 * - tertiary accent: ?
 *
 */

/* +-------+ */
/* | FONTS | */
/* +-------+ */

/* +--- OPEN SANS ---+ */
@font-face {
    font-family: "OpenSans";
    font-weight: normal;
    src: url("../fonts/opensans/OpenSans-Regular.ttf");
}

/* +---------+ */
/* | IMPORTS | */
/* +---------+ */

@import url("sampled-range-graph.css");

/* +----------+ */
/* | WILDCARD | */
/* +----------+ */

* {
    -fx-font-family: "OpenSans";
    -fx-font-weight: normal;
    -fx-font-size: 10pt;
}

/* +---------------------------------+ */
/* |             LAYOUTS             | */
/* +---------------------------------+ */

/* --- VBox --- */
VBox {
    -fx-spacing: 1mm;
}

/* --- HBox --- */
HBox {
    -fx-spacing: 1mm;
}

/* --- GridPane --- */
GridPane {
    -fx-hgap: 1mm;
    -fx-vgap: 1mm;
}

GridPane .fill-cell {
    -fx-max-width: infinity;
    -fx-max-height: infinity;
}

/* --- MainPane --- */
AppPane .container {
    -fx-padding: 2.5mm;
    -fx-hgap: 1mm;
    -fx-vgap: 1mm;
}

/* --- list view --- */
.list-view .cell:hover {
    -fx-background-color: rgb(224, 224, 224);
    -fx-cursor: hand;
}

.list-view .cell:selected {
    -fx-background-color: rgb(64, 64, 64);
    -fx-text-fill: rgb(255, 255, 255);
}

/* --- context menu --- */
.context-menu .menu-item:hover {
    -fx-background-color: rgb(224, 224, 224);
    -fx-text-fill: rgb(64, 64, 64);
    -fx-cursor: hand;
}

.context-menu .menu-item:focused {
    -fx-background-color: rgb(64, 64, 64);
    -fx-text-fill: rgb(255, 255, 255);
}

/* +----------------------------------+ */
/* |             CONTROLS             | */
/* +----------------------------------+ */

/* --- button --- */
.button {
    -fx-padding: 1mm;
    -fx-border-width: 0.25mm;
    -fx-border-color: rgb(64, 64, 64);
    -fx-background-color: rgb(255, 255, 255);
    -fx-text-fill: rgb(64, 64, 64);
}

.button:hover {
    -fx-background-color: rgb(224, 224, 224);
    -fx-cursor: hand;
}

.button:armed {
    -fx-background-color: rgb(64, 64, 64);
    -fx-text-fill: rgb(255, 255, 255);
}

/* --- text field --- */
.text-field {
    -fx-padding: 1mm;
    -fx-border-width: 0.25mm;
    -fx-border-color: rgb(64, 64, 64);
    -fx-background-color: rgb(255, 255, 255);
    -fx-text-fill: rgb(64, 64, 64);
    -fx-highlight-fill: rgb(64, 64, 64);
    -fx-highlight-text-fill: rgb(255, 255, 255);
}

/* --- double field --- */
.double-field.error {
    -fx-border-color: rgb(192, 0, 0);
    -fx-background-color: rgb(255, 224, 224);
    -fx-text-fill: rgb(192, 0, 0);
    -fx-highlight-fill: rgb(192, 0, 0);
    -fx-highlight-text-fill: rgb(255, 224, 224);
}

/* --- combo box --- */
.combo-box {
    -fx-border-width: 0.25mm;
    -fx-border-color: rgb(64, 64, 64);
    -fx-background-color: rgb(255, 255, 255);
}

.combo-box:hover {
    -fx-background-color: rgb(224, 224, 224);
    -fx-cursor: hand;
}

/* --- cell --- */
.cell {
    -fx-text-fill: rgb(64, 64, 64);
}